@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');


body {
  font-family: 'Grandstander', cursive;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#stack-top {
  height: 100vh;
  width: 100%;
  top: 0;
}

.stack {
  min-height: 60vh;
  width: 100%;
  top: 0;
}

.basic-text {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.mid {
  height: 10px;
}

a.button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #000000;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:600;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
  font-size: 30px;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 30vh;
}

a.button:hover{
  color:#FFFFFF;
  background-color:#000000;
}

a.buttonvideo {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #000000;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:600;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 30vh;
}

a.buttonvideo:hover{
  color:#FFFFFF;
  background-color:#000000;
}

.overlay {
  background: rgba(0,0,0,0);
  position: relative;

  top: 5%; right: 0; bottom: 0; left: 0;
  display: flex;

  justify-content: center;
}

.overlayvideo {
  background: rgba(0,0,0,0);
  position: relative;
  top: 40vh; left: 20vw; bottom: 0;
}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  .pad {
    padding-top: 20px;
    margin-bottom: 60px;
  }
  .title-text {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .img {
    border-radius: 0;
  }
  .fb {
    margin-top: 20px;
    width: 300px;
  }
  .korona {
    width: 300px;
  }
  #stack-bottom {
    height: 20vh;
    width: 100%;
    top: 0;
    text-align: center;
    margin-top: 6vh;
    font-size: 2rem;
  }
  #address {
    font-size: 1.5rem;
  }

  a.buttonvideofontsize {
    font-size: 25px;
  }

  .overlayvideo {
    left: 15px
  }
}

/* small devices (phones, 480px and down) */
@media only screen and (min-width: 480px) {
  .pad {
    padding-top: 20px;
    margin-bottom: 60px;
  }
  .title-text {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .img {
    border-radius: 0;
  }
  .fb {
    margin-top: 20px;
    left: 20%;
    width: 400px;
  }

  .korona {
    width: 400px;
  }
  #stack-bottom {
    height: 20vh;
    width: 100%;
    top: 0;
    text-align: center;
    margin-top: 6vh;
    font-size: 2rem;
  }
  #address {
    font-size: 1.5rem;
  }
  a.buttonvideofontsize {
    font-size: 20px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 578px) {
  .pad {
    padding-top: 20px;
    margin-bottom: 60px;
  }
  .title-text {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .img {
    border-radius: 0px;
  }
  .fb {
    left: 30%;
    margin-top: 20px;
  }
  .korona {
    height: 500px;
  }
  #stack-bottom {
    height: 20vh;
    width: 100%;
    top: 0;
    text-align: center;
    margin-top: 6vh;
    font-size: 3rem;
  }
  #address {
    font-size: 2rem;
  }
  a.buttonvideofontsize {
    font-size: 30px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .pad {
    padding-top: 30px;
  }
  .title-text {
    font-size: 5rem;
    margin-bottom: 0;
  }
  .img {
    border-radius: 0px;
  }
  .fb {
    left: 30%;
    margin-top: 20px;
  }
  .korona {
    height: 500px;
  }
  #stack-bottom {
    height: 20vh;
    width: 100%;
    top: 0;
    text-align: center;
    margin-top: 6vh;
    font-size: 3rem;
  }
  #address {
    font-size: 2rem;
  }
  a.buttonvideofontsize {
    font-size: 35px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .pad {
    padding-top: 40px;
  }
  .korona {
    height: 500px;
  }
  #stack-bottom {
    height: 20vh;
    width: 100%;
    top: 0;
    text-align: center;
    margin-top: 6vh;
    font-size: 3rem;
  }
  #address {
    font-size: 2rem;
  }
  .fb {
    left: 40%;
    margin-top: 20px;
  }
  a.buttonvideofontsize {
    font-size: 40px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .pad {
    padding-top: 50px;
  }
  .img {
    border-radius: 0px;
  }
  .fb {
    left: 10%;
    margin-top: 0px;
  }
  .korona {
    height: 500px;
  }
  #stack-bottom {
    height: 20vh;
    width: 100%;
    top: 0;
    text-align: center;
    margin-top: 6vh;
    font-size: 3rem;
  }
  #address {
    font-size: 2rem;
  }
  a.buttonvideofontsize {
    font-size: 45px;
  }
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
  .pad {
    padding-top: 60px;
  }
  .img {
    border-radius: 0px;
  }
  .korona {
    height: 500px;
  }
  .fb {
    left: 10%;
    margin-top: 0px;
  }
  #stack-bottom {
    height: 20vh;
    width: 100%;
    top: 0;
    text-align: center;
    margin-top: 6vh;
    font-size: 3rem;
  }
  #address {
    font-size: 2rem;
  }
  a.buttonvideofontsize {
    font-size: 60px;
  }
}


.footertext {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}

.footertext:after {
  position: absolute;
  content: '';
  height: 2px;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom:  -2px;


  /******
  optional values below
  ******/

  /* center - (optional) use with adjusting width   */
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: black;

  /* optional animation */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
